<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            value="{{course.name}}"
            id="name"
            name="name"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <input
            type="text"
            class="form-control"
            value="{{course.description}}"
            id="description"
            name="description"
          />
        </div>
        <div class="mb-3">
          <label for="videoId" class="form-label">videoId</label>
          <input
            type="text"
            class="form-control"
            value="{{course.videoId}}"
            id="videoId"
            name="videoId"
          />
        </div>
        <div class="mb-3">
          <label for="level" class="form-label">level</label>
          <input
            type="text"
            class="form-control"
            value="{{course.level}}"
            id="level"
            name="level"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>