<div class="container">
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">name</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        name="name"
        id="name"
      />
      <label for="description">description</label>
      <input
        type="text"
        class="form-control"
        value="{{course.description}}"
        name="description"
        id="description"
      />
      <label for="videoId">videoId</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoId}}"
        name="videoId"
        id="videoId"
      />
      <label for="level">level</label>
      <input
        type="text"
        class="form-control"
        value="{{course.level}}"
        name="level"
        id="level"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>