<div class="mt-5">
  <div class="row">
    <div class="col-lg-3">
      <h1>siderbars</h1>
    </div>
    <div class="col-lg-9">
      <div class="row">
        {{#each courses}}
          <div class="card" style="width: 18rem;">
            <a href="courses/{{this.slug}}">
              <img
                src="{{this.image}}"
                class="card-img-top"
                alt="{{this.name}}"
              />
            </a>
            <a href="courses/{{this.slug}}">
              <div class="card-body">

                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>