<div class="container">
  <div class="row">
    {{#each courses}}
      <div class="card" style="width: 18rem;">
        <a href="course/{{this.slug}}">
          <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}" />
        </a>
        <div class="card-body">
          <a href="course/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.description}}</p>
          <a href="course/{{this.slug}}" class="btn btn-primary">Go</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>