<div class="row">
  <div class="col-lg-3"><h1>siderbar</h1></div>
  <div class="col-lg-9">
    <div class="row">
      {{#each courses}}
        <div class="card" style="width: 18rem;">
          <a href="/courses/{{this.slug}}">
            <img
              src="{{this.image}}"
              class="card-img-top"
              alt="{{this.name}}"
            />
          </a>
          <div class="card-body">
            <a href="/courses/{{this.slug}}">
              <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>