<div>
  <h2>Courses List</h2>
  <a href="/me/listCourses">Go Courses List</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a
            href=""
            data-id="{{this._id}}"
            class="btn btn-light btn__restore"
          >Edit</a>
          <button
            type="button"
            data-id="{{this._id}}"
            data-toggle="modal"
            data-target="#exampleModal"
            class="btn btn-danger"
          >Clear</button>
        </td>
      </tr>
    {{else}}
      <tr class="text-center">
        <td>Chua co khoa hoc nao
          <a href="/courses/create">Di tao khoa hoc</a>
        </td>
      </tr>

    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
        <button type="button" id="btn__delete" class="btn btn-primary">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="form__delete"></form>
<form method="POST" name="form__restore"></form>

<script>
  document.addEventListener("DOMContentLoaded",function () { var courseId;///
  var btnDelete = document.getElementById('btn__delete');////////////////////
  var formDelete = document.forms['form__delete'];///////////////////////////
  var btnRestore = $('.btn__restore');///////////////////////////////////////
  var formRestore = document.forms['form__restore'];////////////////////////////
  $('#exampleModal').on('show.bs.modal', function (event) {////////////////////
  var button = $(event.relatedTarget);////////////////////////////////////////
  courseId = button.data('id'); })///////////////////////////////////////
  btnDelete.onclick = function () { ////////////////////////////////////////
  formDelete.action = '/courses/' + courseId + '/delete?_method=DELETE';///////
  formDelete.submit() } ;///////////////////////////////////////////////////
  btnRestore.click(function (e) { /////////////////////////////////////////
  e.preventDefault(); ///////////////////////////////////////////////////////
  var courseId = $(this).data('id'); ///////////////////////////////////
  formRestore.action = '/courses/' + courseId + '/restore?_method=PATCH';
  formRestore.submit() }) }) ///////////////////////////////////////////////
</script>