<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Create</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a
            href="/courses/{{this._id}}/edit"
            type="button"
            class="btn btn-light"
          >Edit</a>
          <button
            type="button"
            data-id="{{this._id}}"
            data-toggle="modal"
            data-target="#exampleModal"
            class="btn btn-danger"
          >Clear</button>
        </td>
      </tr>
      {{else}}
      <tr class="text-center">
        <td>Bạn chưa có khóa học nào. <a href="/courses/create">Đi tạo khóa học</a> </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
        <button type="button" id="btn__delete" class="btn btn-primary">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete__form">

<script>
  document.addEventListener('DOMContentLoaded',function () {
    var courseId;
    var btnDelete = document.getElementById('btn__delete');
    var formDelete = document.forms['delete__form']
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    })
    btnDelete.onclick = function () {
      formDelete.action = '/courses/' + courseId + '?_method=DELETE';
      formDelete.submit()
    }
  })
</script>